body {
  background: #1b3056;
  padding-top: 70px;
  padding-bottom: 30px;
  background-image: url("../img/intro.svg") !important;
  background-size: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar {
  -webkit-box-shadow: -1px 0px 2px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 2px 2px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 2px 2px rgba(0,0,0,0.75);
}

img.img-trabajos {
  border: ridge 1px lightgray;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
}

